* {
    padding: 0;
    margin: auto;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../35814.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    align-items: center;


}

nav {
    background-color: rgba(128, 128, 128, 0.4);
    padding: 0.8rem;
    border-radius: 0.5rem;
    margin: 1rem;
    width: 100%;
    align-items: center;
}

.link a {
    align-items: center;
    text-decoration: none;
    list-style: none;
    color: white;
    padding: 1.2rem;
    margin: 3rem;

}

.link a:hover {
    background-color: white;
    color: black;
    transition: all 0.3s ease-in-out;
}

.text {
    padding: 1rem;
    margin: 1.5rem;
}

p {
    padding: 0.5rem;
}

li a {
    list-style: none;
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 0.6rem;
}

li a:hover {
    background-color: gray;
    border-radius: 0.5rem;
    color: black;
    transition: all 0.4s ease-in-out;
    font-size: 1.3rem;
}